//Font
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

// Utils
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

//Layout
@import "layout/main-layout";

//Content
@import "content/mainpage";
@import "content/profile";
@import "content/content";
@import "content/mechanics";
@import "content/knowledge";
@import "content/cases";
@import "content/collection";

//Elements
@import "elements/header";
@import "elements/side-menu";
@import "elements/icons";
@import "elements/forms";
@import "elements/cards";
@import "elements/modals";
@import "elements/buttons";



html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
		font-size: 16px;
  }
  @media screen and (max-width: $tableWidth) {
		font-size: 15px;
  }
  @media screen and (max-width: $phoneWidth) {
		font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $bg-color;
}

*, *:before, *:after { box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 { margin: 0; }

a { text-decoration: none;transition: all 0.3s; }

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  margin: 0 auto;
  padding: 0 15px;
  max-width: $desktopWidth;

  &.--row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  @media (min-width: $tableWidth) and (max-width: $smDesktopWidth) {
    max-width: $desktopWidth;
  }
  @media (min-width:$phoneWidth) and (max-width: $tableWidth) {
    max-width: $desktopWidth;
  }
  @media only screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}