// Font
$mainFont                : 'Inter', sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 14px;
$mainFontWeight          : 500;
$mediumFontWeight        : 600;
$boldFontWeight          : 700;
$mainLineHeight          : 1.4;

$desktopWidth            : 980px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #F1F1F5;
//$primary-color           : #444ce0;
$success-color           : #1DB954;
$success-color-light     : #E8F8EE;
$danger-color            : #FF4A4A;
$danger-color-light      : #FFEDED;
$warning-color           : #FF974A;
$warning-color-light     : #FFF5ED;
$blue-color              : #0062FF;
$blue-color-light        : #E6EFFF;
$light-color             : #7C7C7C;
$purple-color            : #9B3DD4;
$purple-color-light      : #F5ECFB;
$bg-color                : #F9F9FB;
$black-color             : #131316;
$white-color             : #ffffff;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;