.btn {
  display: inline-block;
  font-weight: 500;
  color: $black-color;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 11px 16px;
  font-size: rem(14);
  line-height: 1.3;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &.--mb-20 {
    margin-bottom: 20px;
  }

  &.--ml-10 {
    margin-left: 10px;
  }

  &.--default {
    background-color: $default-color;
    border-color: $default-color;
    color: $black-color;

    &:hover {
      background-color: #ECECF2;
      color: $black-color;
      border-color: #ECECF2;
    }

    &:focus {
      background-color: $black-color;
      color: $white-color;
      border-color: $black-color;
    }
  }

  &.--default-second {
    background-color: $default-color;
    border-color: $default-color;
    color: $black-color;

    &:hover {
      background-color: $black-color;
      color: $white-color;
      border-color: $black-color;
    }

    &:focus {
      background-color: $black-color;
      color: $white-color;
      border-color: $black-color;
    }
  }

  &.--default-blue {
    background-color: $default-color;
    border-color: $default-color;
    color: $black-color;

    &:hover {
      background-color: $blue-color;
      color: $white-color;
      border-color: $blue-color;
    }

    &:focus {
      background-color: $blue-color;
      color: $white-color;
      border-color: $blue-color;
    }
  }

  &.--red-outline {
    background-color: $default-color;
    border-color: $danger-color;
    color: $danger-color;

    &:hover {
      background-color: $danger-color;
      color: $white-color;
      border-color: $danger-color;
    }

    &:focus {
      background-color: $danger-color;
      color: $white-color;
      border-color: $danger-color;
    }
  }

  &.--success {
    background-color: #24CE7C;
    border-color: #24CE7C;
    color: $white-color;

    &:hover {
      background-color: #32E28D;
      color: $white-color;
      border-color: #32E28D;
    }

    &:focus {
      background-color: #32E28D;
      color: $white-color;
      border-color: #32E28D;
    }
  }
}