.cards-row {
  display: flex;
  width: calc(100% + 26px);
  margin: 0 -13px;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.card {
  display: flex;
  width: calc(1/3*100% - 26px);
  margin: 13px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  border-radius: 10px;
  transition: all 0.3s;
  
  &:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  &__head {
    display: flex;
    position: relative;
    width: 100%;
    min-height: 220px;
    overflow: hidden;
    border-radius: 10px 10px 0px 0px;
  }

  &__img {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    padding: 25px 25px 34px;
    background: $white-color;
    border-radius: 0px 0px 10px 10px;
  }

  &__title {
    display: block;
    font-size: rem(18);
    line-height: rem(25);
    letter-spacing: -0.01em;
    color: $black-color;
    font-weight: $mediumFontWeight;
    margin-bottom: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__desc {
    display: block;
    font-size: rem(14);
    line-height: rem(22);
    font-weight: $mainFontWeight;
    text-align: left;
    color: $light-color;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}