.form-caption {
  display: block;
  font-size: rem(16);
  line-height: rem(26);
  text-align: left;
  color: $black-color;
  font-weight: $mainFontWeight;
  margin-bottom: 10px;
}

.form-row {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &.--form-2 {
    width: calc(100% + 26px);
    margin-left: -13px;
  }
}

.form-box {
  display: flex;
  width: auto;
  position: relative;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  &.--column {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 30px;
  }

  &.--col-6 {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(1/2*100% - 26px);
    margin: 0px 13px 20px;
  }

  &.--mb-20 {
    margin-bottom: 20px;
  }

  &.--mb-0 {
    margin-bottom: 0;
  }

  &.--search {
    min-width: 300px;
    flex-shrink: 0;

    @media (min-width: 1024px) and (max-width: 1260px) {
      &.--search {
        min-width: 125px;
        flex-shrink: 0;
        margin-left: 42px;
      }
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 0.375rem 0.75rem;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.5;
  color: $black-color;
  background-color: #F1F1F5;
  background-clip: padding-box;
  border: 2px solid #F1F1F5;
  border-radius: 10px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    border-color: #E7E7ED;
    background-color: #F1F1F5;
  }

  &.--message {
    height: 124px;
    resize: none;
  }

  &.--search {
    padding-left: 50px;
    padding-top: 9px;
    padding-bottom: 9px;
    
  }
}

@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #495057;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #E7E7ED;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}