/* MODAL */
.modal-dialog {
  display: flex;
  opacity: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
  visibility: hidden;
  z-index: 990;
  max-width: 648px;
  width: 100%;
  //padding: 32px 48px 48px;
  border-radius: 14px;
  background: $white-color;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  @media only screen and (max-width:767px) {
    
    height: 100vh;
    border-radius: 0;
  }

  &.--show {
    opacity: 1;
    visibility: visible;
  }

  &__container {
    display: flex;
    width: 100%;
    padding: 30px 25px;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;

    @media only screen and (max-width:767px) {
      padding: 32px 16px 48px;
    }
  }

  &__head {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 25px;
  }

  &__title {
    display: block;
    font-size: rem(18);
    line-height: rem(24);
    text-align: left;
    color: $black-color;
    font-weight: $mediumFontWeight;
  }

  &__body {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    form {
      width: 100%;
    }
  }

  &__box {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 16px;
  }

  &__footer {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
  }
}

.modal-wrapper {
  opacity: 0;
  visibility: hidden;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 22, 0.6);
  z-index: 980;
  transition: .3s all;

  &.--show {
    opacity: 1;
    visibility: visible;
  }
}

