.side-menu {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;
  background: $bg-color;
  padding: 25px 25px;

  &__head {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    padding-left: 15px;
    margin-bottom: 88px;
  }

  &__logo-link {
    display: block;
  }

  &__logo {
    display: block;
    height: 22px;
  }

  &__list {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;

    li {
      display: flex;
      width: 100%;

      a {
        display: flex;
        position: relative;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        padding: 13px 14px;
        font-size: rem(14);
        border-radius: 10px;
        color: $black-color;
        transition: all 0.3s;

        &:hover {
          background-color: #F1F1F5;
          color: $black-color;
        }

        &.--active {
          background-color: $black-color;
          color: $white-color;

          svg {
            g {
              g {
                fill: $white-color;
              }
            }
          }
        }
      }
    }
  }
}
