.cases-tabs {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 30px;

  li {
    display: block;
    margin-right: 10px;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.cases-articles {
  display: flex;
  width: 100%;
  max-width: 625px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.cases-article {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    .cases-article__cover {
      opacity: 0.9;
    }

    .cases-article__title {
      color: $blue-color;
    }
  }

  &__cover {
    display: block;
    width: 100%;
    height: 340px;
    object-fit: cover;
    flex-shrink: 0;
    margin-bottom: 30px;
    transition: all 0.3s;
  }

  &__title {
    display: block;
    font-weight: $mediumFontWeight;
    color: $black-color;
    line-height: rem(36);
    font-size: rem(26);
    letter-spacing: -0.015em;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    transition: all 0.3s;
  }

  &__announce {
    display: block;
    font-size: rem(16);
    line-height: rem(26);
    font-weight: $mainFontWeight;
    text-align: left;
    color: #606060;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
  }

  &__footer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0px 50px;
  }

  &__caption {
    display: block;
    text-align: left;
    font-size: rem(14);
    color: $black-color;
    opacity: 0.5;
    line-height: rem(22);
    font-weight: $mainFontWeight;
    margin-right: 5px;
  }

  &__effects {
    display: block;
    text-align: left;
    font-size: rem(14);
    color: $black-color;
    line-height: rem(22);
    font-weight: $mainFontWeight;
    margin-right: 30px;
  }

  &__total {
    display: block;
    text-align: left;
    font-size: rem(14);
    color: $black-color;
    line-height: rem(22);
    opacity: 0.5;
    font-weight: $mainFontWeight;
  }
}

.cases-title {
  display: block;
  font-size: rem(38);
  line-height: rem(48px);
  font-weight: $boldFontWeight;
  color: $black-color;
  margin-bottom: 20px;
}

.cases-subtitle {
  display: block;
  font-size: rem(20);
  line-height: rem(30);
  font-weight: $mainFontWeight;
  color: $black-color;
  opacity: 0.8;
}

.cases-sfera {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 30px;

  &__caption {
    display: block;
    font-size: rem(14);
    line-height: rem(20);
    text-align: left;
    opacity: 0.5;
    color: $black-color;
    margin-right: 5px;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 5px;

    li {
      display: block;
      position: relative;
      font-size: rem(14);
      line-height: rem(20);
      text-align: left;
      color: $black-color;
      margin-right: 6px;

      &::before {
        display: block;
        content: ",";
        position: absolute;
        color: $black-color;
        right: -4px;
      }

      &:last-of-type {
        &::before {
          display: block;
          content: "";
          position: absolute;
          right: -4px;
        }
      }
    }
  }
}

.cases-mechanics {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 57px;

  
  &__header {
    display: block;
    font-size: rem(26);
    line-height: rem(36);
    letter-spacing: -0.015em;
    color: $black-color;
    font-weight: $mediumFontWeight;
    text-align: left;
    margin-bottom: 20px;
  }
}