.collection-cards {
  display: flex;
  width: calc(100% + 26px);
  margin-left: -13px;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 25px;
  padding-bottom: 110px;
}

.collection-card {
  display: flex;
  width: calc(1/3*100% - 26px);
  margin: 13px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background: transparent;
  border-radius: 14px;
  transition: all 0.3s;
  padding: 25px;
  background: $white-color;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);
  }

  &__total {
    display: block;
    font-size: rem(14);
    line-height: rem(18);
    text-align: left;
    color: $light-color;
    margin-bottom: 25px;
  }

  &__title {
    display: block;
    font-size: rem(22);
    line-height: rem(25);
    color: $black-color;
    font-weight: 600;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__tags {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-bottom: 30px;

    li {
      display: flex;
      width: auto;
      margin-right: 5px;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      color: $light-color;
      font-size: rem(12);
      margin-bottom: 5px;

      &:last-of-type {
        margin-right: 0px;
        margin-bottom: 5px;
      }

      span {
        display: flex;
        width: auto;
        padding: 2px 6px;
        border-radius: 5px;
        margin-left: 6px;
        letter-spacing: -0.01em;
        text-align: center;
        font-size: rem(12);
        justify-content: center;
        align-items: center;
        color: $black-color;
        background-color: $default-color;
        transition: all 0.3s;

        &.--all {
          background-color: #F1F1F5;
          color: $black-color;
        }

        &.--uderzh {
          background-color: $warning-color-light;
          color: $warning-color;          
          // &:hover {
          //   background-color: $warning-color-light;
          //   color: $black-color;
          // }
        }

        &.--learn {
          background-color: $blue-color-light;
          color: $blue-color;
          // &:hover {
          //   background-color: $blue-color-light;
          //   color: $black-color;
          // }
        }

        &.--pogruz {
          background-color: $purple-color-light;
          color: $purple-color;
          // &:hover {
          //   background-color: $warning-color-light;
          //   color: $black-color;
          // }
        }

        &.--vovl {
          background-color: $danger-color-light;
          color: $danger-color;
          // &:hover {
          //   background-color: $danger-color-light;
          //   color: $black-color;
          // }
        }

        &.--monetize {
          background-color: $success-color-light;
          color: $success-color;
          // &:hover {
          //   background-color: $success-color-light;
          //   color: $black-color;
          // }
        }
      }
    }
  }

  &__footer {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
  }

  &__caption {
    display: block;
    font-size: rem(12);
    color: $light-color;
    text-align: left;
    line-height: rem(20);
    margin-bottom: 10px;
  }
}

.collection-header {
  display: block;
  font-size: rem(26);
  line-height: rem(36);
  text-align: left;
  color: $black-color;
  font-weight: $mediumFontWeight;
  margin-bottom: 30px;
}

.collection-head {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 30px;

  &__controls {
    display: flex;
    width: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
  }
}

.collection-title {
  display: flex;
  position: relative;
  font-size: rem(48);
  line-height: rem(60);
  flex-flow: row wrap;
  padding-right: 60px;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  color: $black-color;
  font-weight: $boldFontWeight;
  transition: all 0.3s;

  &:hover {
    .collection-title__edit {
      opacity: 1;
    }
  }

  &__edit {
    display: block;
    position: absolute;
    right: 15px;
    top: 23px;
    opacity: 0.4;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

.collection-subtitle {
  display: block;
  font-size: rem(26);
  line-height: rem(36);
  color: $black-color;
  text-align: left;
  font-weight: $mediumFontWeight;
  margin-bottom: 10px;
}

.collection-desc {
  display: block;
  font-size: rem(16);
  text-align: left;
  line-height: rem(26);
  color: $light-color;
  max-width: 495px;
}

.collection-effects {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 40px;

  &__col {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    max-width: 260px;
  }

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 12px;
  }

  &__caption {
    display: block;
    font-size: rem(16);
    line-height: rem(26);
    color: $black-color;
    text-align: left;
  }
}

.collection-compare {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__header {
    display: block;
    font-size: rem(26);
    line-height: rem(36);
    color: $black-color;
    text-align: left;
    font-weight: $mediumFontWeight;
    margin-bottom: 20px;
  }
}

.collection-table {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__head {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 13px;
    border-top: 1px solid #E7E7ED;
  }

  &__col {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    font-size: rem(16);
    line-height: rem(26);
    text-align: left;
    color: $black-color;
    
    &.--head {
      color: $black-color;
      opacity: 0.4;
      font-size: rem(14);
      line-height: rem(22);
      text-align: left;
    }

    &.--head-sort {
      font-size: rem(14);
      line-height: rem(22);
      justify-content: center;
      align-items: center;
    }

    &.--w-180 {
      justify-content: center;
      align-items: center;
      max-width: 180px;
      min-width: 180px;
    }

    &.--w-180-head {
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      padding-left: 55px;
      max-width: 180px;
      min-width: 180px;
    }

    &.--w-60 {
      max-width: 60px;
      min-width: 60px;
      justify-content: center;
      align-items: center;
    }
  }

  &__mechan {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center; 
    padding: 17px 20px;
    border: 1px solid transparent;
    background: $white-color;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    margin-bottom: 10px;

    &.--off {
      background: transparent;
      border-color: #E7E7ED;

      .collection-table__show {
        opacity: 1;
      }

      .collection-table__delete {
        opacity: 0;
      }

      &:hover {
        .collection-table__delete {
          opacity: 1;
        }
      }
    }

    &:hover {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 4px 8px rgba(0, 0, 0, 0.04);

      .collection-table__show {
        opacity: 1;
      }

      .collection-table__delete {
        opacity: 1;
      }
    }
    
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__show {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 34px;
    height: 34px;
    content: "";
    background: transparent;
    left: -34px; 
    opacity: 0;   
    transition: all 0.3s;

    &:hover {
      .--show-off {
        opacity: 1;
      }
    }
  }

  &__delete {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 34px;
    height: 34px;
    content: "";
    background: transparent;
    right: -34px;    
    opacity: 0;
    transition: all 0.3s;
  }

  &__effects {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center; 
  }

  &__tag {
    display: block;
    font-size: rem(14);
    line-height: rem(22);
    text-align: center;

    &.--uderzh {
      color: $warning-color;          
    }

    &.--learn {
      color: $blue-color;
    }

    &.--pogruz {
      color: $purple-color;
    }

    &.--vovl {
      color: $danger-color;
    }

    &.--monetize {
      color: $success-color;
    }
  }
}

.collection-sort {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  
  .mechan-effect {
    opacity: 0.4;
  }
  svg {
    #icon-sort-table {
      fill-opacity: 0.4;
    }
  }

  &.--up {
    svg {
      #down {
        fill-opacity: 0.4;
      }
    }
  }

  &.--down {
    svg {
      #up {
        fill-opacity: 0.4;
      }
    }
  }
}

.collection-stats {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px 0px 70px;

  &__caption {
    display: block;
    color: $black-color;
    opacity: 0.4;
    font-size: rem(14);
    line-height: rem(22);
    text-align: left;
    margin-bottom: 16px;    
  }

  &__progress {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }

  &__bar {
    display: flex;
    width: 100%;
    height: 30px;

    &:first-of-type {
      border-radius: 30px 0px 0px 30px;
    }

    &:last-of-type {
      border-radius: 0px 30px 30px 0px;
    }

    &.--uderzh {
      background: $warning-color;          
    }

    &.--learn {
      background: $blue-color;
    }

    &.--pogruz {
      background: $purple-color;
    }

    &.--vovl {
      background: $danger-color;
    }

    &.--monetize {
      background: $success-color;
    }
  }

  &__info {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin-top: 20px;

    li {
      display: block;
      margin-right: 30px;
      margin-bottom: 10px;
    }
  }

  &__mechan {
    display: flex;
    position: relative;
    font-size: rem(14);
    line-height: rem(22);
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    padding-left: 11px;

    &::before {
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      content: "";
      left: 0;
    }

    span {
      margin-left: 4px;
    }

    &.--uderzh {
      color: $warning-color;

      &::before {
        background-color: $warning-color;
      }
    }

    &.--learn {
      color: $blue-color;

      &::before {
        background-color: $blue-color;
      }
    }

    &.--pogruz {
      color: $purple-color;

      &::before {
        background-color: $purple-color;
      }
    }

    &.--vovl {
      color: $danger-color;

      &::before {
        background-color: $danger-color;
      }
    }

    &.--monetize {
      color: $success-color;

      &::before {
        background-color: $success-color;
      }
    }
  }
}

.collection-decr {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__head {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__col {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    &.--head {
      font-size: rem(26);
      line-height: rem(36);
      text-align: left;
      font-weight: $mediumFontWeight;
      color: $black-color;
      padding: 20px 0px;
      margin-bottom: 30px;
    }

    &.--w-first {
      min-width: 200px;
      max-width: 200px;

      &::before {
        display: block;
        width: calc(100% - 30px);
        position: absolute;
        height: 1px;
        bottom: 0;
        content: "";
      }
    }

    &.--first {
      min-width: 200px;
      max-width: 200px;
      color: $black-color;
      font-size: rem(16);
      line-height: rem(26);
      text-align: left;
      padding-right: 26px;
    }

    &.--w-big {
      font-size: rem(16);
      text-align: left;
      line-height: rem(26);
      color: $light-color;
      padding-right: 30px;
    }

    &.--plus {
      width: 100%;
      max-width: 100%;
      min-width: 360px;
      padding-right: 30px;

      &::before {
        display: block;
        width: calc(100% - 30px);
        position: absolute;
        height: 1px;
        bottom: 0;
        content: "";
        border-bottom: 2px solid #1DB954;
      }
      
      
    }

    &.--minus {
      width: 100%;
      min-width: 360px;
      max-width: 100%;
      padding-right: 30px;

      &::before {
        display: block;
        width: calc(100% - 30px);
        position: absolute;
        height: 1px;
        bottom: 0;
        content: "";
        border-bottom: 2px solid #FF4A4A;
      }
    }
  }
}

.collection-more {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 70px 0px;

  &__header {
    display: block;
    font-size: rem(26);
    line-height: rem(36);
    text-align: left;
    color: $black-color;
    font-weight: $mediumFontWeight;
    margin-bottom: 17px;    
  }

  &__container {
    display: flex;
    width: calc(100% + 26px);
    margin-left: -13px;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}