.content-head {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__header {
    display: block;
    font-size: rem(48);
    font-weight: $boldFontWeight;
    letter-spacing: -0.01em;
    line-height: rem(60);
    color: #020814;
    text-align: left;
    margin-bottom: 5px;
    margin-top: 60px;
  }

  &__subheader {
    display: block;
    color: #707070;
    text-align: left;
    font-size: rem(16);
    margin-bottom: 48px;
  }

  &__desc {
    display: block;
    font-size: rem(20);
    font-weight: $mainFontWeight;
    color: #606060;
    line-height: rem(30);
    margin-top: 35px;
    margin-bottom: 20px;
  }

  &__text {
    display: block;
    font-size: rem(14);
    color: $light-color;
    text-align: left;
    line-height: rem(22);
  }

  &__row {
    display: flex;
    position: sticky;
    top: 72px;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    z-index: 100;
    background: #F9F9FB;
  }

  &__control {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0px;
  }

  &__link-back {
    display: flex;
    width: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: rem(14);
    color: $black-color;
    opacity: 0.5;

    &:hover {
      opacity: 1;

      svg {
        opacity: 1;
      }
    }

    svg {
      opacity: 0.5;
    }
  }

  &__row-block {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 50px;
  }

  &__col {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;

    &.--w-70 {
      flex: 1 1 70%;
      max-width: 70%;
    }

    &.--w-30 {
      flex: 1 1 30%;
      max-width: 30%;
      justify-content: flex-start;
      align-items: flex-end;

      &.--fl-start {
        align-items: flex-start;
        padding-left: 10%;
        padding-top: 10px;
      }
    }
  }
}

.content-body {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 80px;
}

.content-list {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  padding-left: 20px;

  &__caption {
    display: block;
    font-size: rem(18);
    font-weight: $mediumFontWeight;
    text-align: left;
    letter-spacing: -0.01em;
    color: $black-color;
    margin-bottom: 14px;
    padding-left: 20px;
  }

  &.--sidebox {
    padding-left: 0px;
  }

  &.--pt-70 {
    padding-top: 70px;
  }

  li {
    display: block;
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      font-size: rem(14);
      line-height: rem(20);
      color: $black-color;
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }
}