.knowledge-search {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0px 60px;
}

.knowledge-container {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0px 70px;

  &.--material {
    padding: 0px 0px 70px;
  }
}

.knowledge-row {
  display: flex;
  width: calc(100% + 26px);
  margin: 0 -13px;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.knowledge-subtitle {
  display: block;
  font-size: rem(20);
  font-weight: $mainFontWeight;
  color: #606060;
  line-height: rem(30);
  margin-top: 10px;
  margin-bottom: 20px;  
}

.knowledge-article {
  display: flex;
  width: 100%;
  flex: 1 1 70%;
  max-width: 70%;
  flex-flow: column nowrap;
  padding-bottom: 35px;

  &__header {
    display: block;
    font-size: rem(26);
    line-height: rem(36);
    text-align: left;
    color: $black-color;
    margin-bottom: 20px;
    font-weight: $mediumFontWeight;
  }

  &__text {
    display: block;
    text-align: left;
    font-size: rem(16);
    line-height: rem(26);
    color: $light-color;
    margin-bottom: 35px;
  }

  &__img {
    display: block;
    width: 100%;
    margin: 35px 0px 70px;
  }
}