.mainpage-head {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  padding: 60px 0px 108px;

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__col {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__header {
    display: block;
    font-size: rem(48);
    line-height: rem(60);
    color: $black-color;
    letter-spacing: -0.01em;
    font-weight: $boldFontWeight;
    text-align: left;
    margin-bottom: 40px;
  }

  &__subheader {
    display: block;
    font-size: rem(20);
    line-height: rem(30);
    color: $light-color;
    text-align: left;
    max-width: 430px;
    width: 100%;
    margin-bottom: 30px;
  }
}

.mainpage-img {
  display: block;
  width: 400px;
  height: 300px;
  object-fit: contain;
  flex-shrink: 0;
}

.mainpage-block {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  padding: 0px 0px 120px;

  &__row {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__col {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    &.--w-small {
      max-width: 340px;
    }

    &.--al-right {
      align-items: flex-end;
    }
  }

  &__header {
    display: block;
    font-size: rem(38);
    line-height: rem(48);
    color: $black-color;
    letter-spacing: -0.01em;
    font-weight: $boldFontWeight;
    text-align: left;
    margin-bottom: 40px;
  }

  &__text {
    display: block;
    font-size: rem(16);
    line-height: rem(26);
    color: $light-color;
    text-align: left;
    max-width: 430px;
    width: 100%;
    margin-bottom: 30px;
  }
}