.profile-header {
  display: block;
  font-size: rem(26);
  line-height: rem(36);
  text-align: left;
  color: $black-color;
  margin-bottom: 20px;
  font-weight: $mediumFontWeight;

  &.--mb-10 {
    margin-bottom: 10px;
  }
}

.profile-about {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 35px 0px 40px;

  &__form-container {
    display: flex;
    width: 100%;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 625px;
    padding-bottom: 10px;
    border-bottom: 1px solid #E7E7ED;

    &.--pb-40 {
      padding-bottom: 40px;
    }
  }
}

.profile-settings {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 40px;


}

.profile-delete {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 0px 40px;

  &__info {
    display: block;
    font-size: rem(16);
    line-height: rem(26);
    text-align: left;
    color: $light-color;
    font-weight: $mainFontWeight;
    margin-bottom: 20px;
  }
}