.layout-main {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  background: $bg-color;

  @media (min-width: 1024px) and (max-width: 1260px) {
    overflow-x: hidden;
  }

  &__side {
    display: flex;
    width: auto;
    position: sticky;
    top:0;
    flex: 1 0 260px;
    min-width: 260px;
    height: 100%;
    flex-direction: column;

    @media (min-width: 1024px) and (max-width: 1260px) {
      position: fixed;
      z-index: 120;
      transform: translateX(-260px);
      transition: all 0.3s;

      &.--open {
        transform: translateX(0);
      }
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
    flex-flow: column nowrap;
  }
}

.overlay-layout {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background: rgba(0,0,0,0.5);
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  cursor: pointer;
}

.body-overflow {
  overflow: hidden;
}